<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<title>Formulario Alumnos</title>
</head>
<body class="bg-dark text-white">
	<header data-th-replace="~{fragments/navbar :: navbar}"></header>
	<h1 class="p-2">FORMULARIO ALUMNO</h1>
	<form data-th-object="${nuevoAlumno}" data-th-action="${flag}?@{/modificarAlumno}:@{/guardarAlumno}" method="post" class="p-2">
		<div class="col-6">
			<label for="dni" class="form-label">DNI</label> 
			<input type="text" class="form-control bg-dark text-white" id="dni" data-th-field="*{dni}" data-th-readonly="${flag}" required>				
		</div>
		<div class="col-6">
			<label for="nombre" class="form-label">Nombre</label>
			<input type="text" class="form-control bg-dark text-white" id="nombre" data-th-field="*{nombre}" required>
		</div>
		<div class="col-6">
			<label for="apellido" class="form-label">Apellido</label>
			<input type="text" class="form-control bg-dark text-white" id="apellido" data-th-field="*{apellido}" required>
		</div>
		<div class="col-6">
			<label for="email" class="form-label">Email</label>
			<input type="email" class="form-control bg-dark text-white" id="email" data-th-field="*{email}" required>
		</div>
		<div class="col-6">
			<label for="telefono" class="form-label">Telefono</label>
			<input type="text" class="form-control bg-dark text-white" id="telefono" data-th-field="*{telefono}" required>
		</div>
		<div class="col-6">
			<label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
			<input type="date" class="form-control bg-dark text-white" id="fechaNacimiento" data-th-field="*{fechaNacimiento}" required>
		</div>
		<div class="col-6">
			<label for="domicilio" class="form-label">Domicilio</label>
			<input type="text" class="form-control bg-dark text-white" id="domicilio" data-th-field="*{domicilio}" required>
		</div>
		<div class="col-6">
			<label for="lu" class="form-label">LU</label>
			<input type="text" class="form-control bg-dark text-white" id="lu" data-th-field="*{libretaUniversitaria}" required>
		</div><br>
		<button type="submit" class="btn btn-primary">Guardar Alumno</button>
	</form>
	<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>